<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="/js/index.js"></script>
    <title>Form</title>
</head>
<body>
    <h3>Product</h3>
    <a href="/">Home</a> <br>
    <a id="cart" href="/cart">view-cart(<%=count%>)</a>
    <form id="add" method="post" style="display: flex; flex-direction: column; width: 150pt; row-gap: 5pt;">
    
            <label>ID</label>
            <input value = "<%= item.id %>">

            <label>Name</label>
            <input name="name" id="name" value = "<%= item.name %>">

            <label>Description</label>
            <input value = "<%= item.description %>">

            <label>Unit Price</label>
            <input name="price" id="price" value = "<%= item.price %>">

            <label>Avail Quantity</label>
            <input id="quantity" value = "<%= item.quantity %>">

        <input type="submit" value ="Add to Cart">
        <span id="msg"></span>
    </form>
</body>
</html>

